@import url("https://fonts.googleapis.com/css?family=Monserrat:500");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #282A3A;
    font-family: "Roboto", sans-serif;
}

                       /*Navigation*/

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li, a, button{
    font-family: "Monserrat", sans-serif;
    color: #edf1f1;
    font-size: 20px;
    text-decoration: none;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.logo {
    width: 250px;
    cursor: pointer;
}

.nav_links{
list-style: none;
}
 
.spark{
    color: gray;
}

.spark > .fa-sharp {
    margin-left: 20px;
    color: gray;
}

.navigat-nav > .nav_links >.links :hover {
    color: #cea135;
    letter-spacing: 2px;
}

.navigat-nav > .explore {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
}

.explore {
    color: #dfad39;
    margin-bottom: 5px;
}

.nav_links {
    justify-content: space-between;
   gap: 40px;
   color: white;
   font-size: 24px;
  
}

.nav_links li a {
    transform: all  0.3s ease 0s;
    cursor: pointer;
}

.nav_links li a:hover {
    color:#245252
}

button {
    padding: 10px 24px;
    background-color: #3C4048;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s ; 
    font-size: 21px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.buttons> .search-btn {
    color: grey;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    width: 0px;
}

.search-btn:hover {
    width: 240;
    padding: 0 6px;
}

.search-txt:hover {
    width: 240;
    padding: 0 6px;
}

                        /*Body*/ 

.page {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
 
.fa-regular{
   
    color: #cea135;
}

h3 {
    color: white;
}

h1, h2 {
    color:#afb8c1;
    margin-top: 15px;
}

 .Image {
    width: 700px;
 }

 .left-size {
    margin-left: 25px;
 }
 
 .left-size > .text > .fa-light {
    width: 60px;
    color: #cea135;
 }



 .fa-thin {
    color: #cea135;
 }

 .green > .fa-sharp {
    color: greenyellow;
 }

 .body-butons {
    margin-top: 20px;
    padding: 30px;
    border-radius: 2px;
 }


 .button-green {
    background-color:#54B435;
    color: black;
    padding: 18px;
 }

 .button-black {
    background-color: #000000; 
    padding: 18px;
 }
                        
.footer  { 
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3C4048;
}

.footer > .footers {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(153, 152, 152);
}

 /* Footer */

 .black {
    background-color: #000000;
    padding: 60px;
 }